# ignore file
.gitignore

# ignore metadata directors
.metadata/
.recommenders/

# ignore VS Code director
.vscode

#ignor test files
teste.php

#ignore composer files
composer/vendor
composer/composer.lock
composer/composer.phar
composer/setup.sh


#ignor linux files
.my.cnf.19160
.mysql.19160