# ignora os arquivos com extensões 
.gitignore
# ignora quaisquer diretórios chamados "metadata"
.metadata/
.recommenders/
# ignora quaisquer diretórios de configuração do VS Code
.vscode
#ignora arquivos de teste
teste.php

#ignora arquivos do linux
.my.cnf.19160
.mysql.19160