# ignore metadata directors
.metadata/
.recommenders/

# ignore VS Code director
.vscode

#ignore composer files
vendor
composer.lock
composer.phar
setup.sh

#ignor linux files
.my.cnf.19160
.mysql.19160